
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	margin-right: auto;
	margin-left: auto;
	/* padding-right:10%; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
	/* font-style: italic; */
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	position: relative;
	left: 25%;
	font-size: 0.8em;
}

table, td {
	border-collapse: collapse;
	border-spacing: 0;
	width: 50%;
	/* border: 1px solid black; */
}
/* end of reset */

/* td { */
	/* font-size: 0.9em; */
	/* padding: 5px;
	padding-top: 0px;
	padding-bottom:0px; */
/* } */

body {
	color: #0D0F33;
	font: normal normal 400;
	font-family: Avenir,Verdana,sans-serif;
	margin-top: 2em;
}

p {
	color: #0D0F33;
	font-size: 0.8em;
	position: relative;
	left: 25%;
	margin-bottom: 0;
	margin-right: 0;
	width: 70%;
}

code {
	font: normal normal;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #000055;
}

p code {
	position: absolute;
	text-align: right;
	right: -10%;
}

ul {
	position: relative;
	left: 25%;
	width: 60%;
	font-size: 0.8em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	line-height: 1.5em;
}

li:before {
	content: "\2022";
	position: relative;
	color: #00B2D1;
	display: inline-block; width: 2em;
	margin-left: -2em;
}

	/*second line indent*/
li {
	padding-left: 3em;
}

h1,h2,h3,h4 {
	/* font-weight: 400; */
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 80%;
}

h1 {
	font-weight: 600;
	color: #0D0F33;
	text-align: left;
	font-size: 2em;
	line-height: 1em;
	position: relative;
	left: 25%;
}

h1+p {
	/*subtitle*/
	font-size: 100%;
	font-weight: 600;
}

/* h3+p {
	font-size: 0.9em;
} */

h2 {
	font-weight: 600;
	font-size: 1.1em;
	color: #0D0F33;
	margin-top: 0em;
	position: relative;
	top: 1.4em;
	text-align: right;
	width: 20%;
}

h3 {
	color: #00B2D1;
	font-weight: 600;
	font-size: 0.9em;
	line-height: 1em;
	position: relative;
	top: 1.2em;
	text-align: right;
	width: 20%;
}

/* h3+p {
	font-size: 1.2em;
} */

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

/* #webaddress {
	margin-top: 1em;
	position: relative;
	left: 25%;
	color: #bc412b;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 100%;
}

#webaddress a {
	text-decoration: none;
} */

em {
	font-style: italic;
	color: #00B2D1;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

tbody td strong {
	width: 70%;
}

/* #address {
	display: none;
} */



/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/